<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/login.js"></script>
    </head>
    <body>
        <div id="container" class="container panel panel-default">
            <div id='top' class="page-header">
                <h2>{{ site }}</h2>
            </div>
            <div id="flashmsg"></div>
            <div class="form form-horizontal">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="text" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button class='btn btn-default' onclick='login();'>Log In</button>
            </div>
        </div>
    </body>
</html>
