<div class='container'>
    <div class='page-header'>
        <h1>Ajax</h1>
    </div>
    <br />
    <p>
        Passing data back to the server without needing a full page refresh is a big facet in
        ajax desgin.  Form data is just one type of data, simple actions, data, it's all feasible
        as ajax data.
        <br />
        Choosing the right method at the right time can be signficant in the design or architecture
        of your application.  The framework can handle both GET and POST methods and can be
        extended to handle more, such as DELETE.
        <br />
        jQuery is the preferred method for handling ajax calls, though it's not exclusive.  Simply
        plugging in another framework, such as prototype, or pure javascript is feasible.
    </p>
    <ul class='list-group'>
        <li class='list-group-item'>
            <h4 class='list-group-item-heading'>GET</h4><span class='list-group-item-text'>best for retrieving a new page or look to the site/page</span>
        </li>
        <li class='list-group-item'>
            <h4 class='list-group-item-heading'>POST</h4><span class='list-group-item-text'>best for submitting sensitive data to the server</span>
        </li>
        <li class='list-group-item'>
            <h4 class='list-group-item-heading'>DELETE</h4><span class='list-group-item-text'>best for requesting information be deleted from server</span>
        </li>
    </ul>
</div>