<div class='panel panel-default'>
        <div class='panel-heading'>
            <h4>{{ data.type|capitalize }}</h4>
        </div>
        <div class='panel-body'>
            {{ data.text|raw }}
        </div>
    </div>