<script type="text/javascript">
	function sendForm() {
		var name = $("#name").val();
		var email = $("#email").val();
		var message = $("#message").val();
		var fullname = $("#fullname").val();

		if (fullname.length < 0) {
			// handle bot, just say thankyou and drop the data
		}

		// validate length, and add a class if fail
		if (name.length < 2) {
			$("#name").parent().addClass('has-error');
			$("#notify").empty();
			$("#notify").append('<div class="alert alert-danger">Please enter a name</div>');
			$("#notify").show();
			return;
		} else {
			$("#name").parent().removeClass('has-error');
		}

		if (email.length < 2) {
			$("#email").parent().addClass('has-error');
			$("#notify").empty();
			$("#notify").append('<div class="alert alert-danger">Please enter a valid email address</div>');
			$("#notify").show();
			return;
		} else {
			$("#email").parent().removeClass('has-error');
		}

		var html = "Name: " + name + ", Email: " + email + ", message: " + message;
		alert(html);
		/**
		 * normally a post to submit the data, for demo purposes, we alert the data
		 * here's a shortcut method for handling post via jquery .post.
		 $.post('http://domain/namespace/method', {
		 state: true,
		 name: name,
		 email: email,
		 message: message
		 }, function(data) {
		 var results = jQuery.parseJSON(data);
		 console.log(results);
		 if (results.state == 0) {
		 $("#contact_form").empty();
		 $("#contact_form").append(results.message);
		 }
		 });
		 */
	}
</script>
<div class='container'>
    <div id='top' class="page-header">
        <h1>Forms</h1>
    </div>
    <p>
        Forms can be submitted as either a traditional html form element, or via
        ajax.  Ajax is preferred, especially when combating spammers and bots.
        <br />
        A honeypot can be used additionally to block or handle spam.
    </p>
    <p>
        For demo purposes, this form does not submit.  It simply alerts out the data
        you provide.
    </p>
    <div class="col-md-3"></div>
    <div id='contact_form' role="form" class="col-md-6 well form-horizontal">
        <h3>Contact Us</h3>
        <div id='notify'></div>
        <p class="form-group">
            <label for='name'>Name: </label>
            <input type='text' name='name' id='name' class='required form-control'/>
        </p>
        <p class="form-group">
            <label for='email'>Email: </label>
            <input type='email' name='email' id='email' class='required form-control'/>
        </p>
        <p class="form-group">
            <label for='message'>Message: </label>
            <textarea id='message' name='message' class='form-control'></textarea>
        </p>
        <p>
            <!-- a honeypot is an invisible (not hidden) field that bots won't realize is hidden.  If it's filled in, you don't submit the form, just say thankyou. -->
            <label for='honeypot'>Full Name</label>
            <input type='text' name='fullname' id='fullname' placeholder='Do Not Use' />
        </p>
        <p class="form-group">
            <button id='submit' onClick='sendForm();'>
                Send
            </button>
        </p>
        <p>
            <a href='mailto:inquiry@yourcompany.com'>Email us instead! (this is feasible, but bots will pick up on this and spam you)</a>
        </p>
    </div>
</div>