{% extends ["base/base.html.twig", "base/nav.html.twig", "base/footer.html.twig"] %}
{% block home %}
<div id="container" class="container">
    <div id='middle'>
        <div id='content'>
            <div class='col-md-4 pull-left panel panel-default'>
                <h4 class='panel-heading'>Why</h4>
                <div class='panel-body'>
                    <p>
                        I wanted to try and create a framework that took some great principles from
                        Ruby on Rails, Symfony 2, Zend Framework, and more.  A framework should be a
                        lever into a language, not run interference with the developer's ability to
                        learn the language.
                    </p>
                    <p>
                        Most PHP frameworks rely heavily on a CLI interface to build compoents.  This
                        adds complexity and takes focus away from learning the language and places it
                        squarely on learning the tools.  Generators create files necessary to your
                        project functionality without explaination.  They're great for quickly developing
                        a website, but bad at teaching the reasons why.
                    </p>
                    <p>
                        While simple/basic CLI tools are available and integrated into the system,
                        these tools are VERY basic.  Instead of focusing on code generation, a framework
                        should teach you the language, not obfuscate the language.  These tools can teach you
                        how to create your controller, model, and view classes and handle database
                        migrations.
                    </p>
                </div>
            </div>
            <div class='col-md-4 pull-right panel panel-default'>
                <p>
                    <h4 class='panel-heading'>How</h4>
                    <div class="panel-body">
                        <p>
                            Using PHP, jQuery, HTML5, and Bootstrap.js for css, a namespace/controller defines a
                            module, inside that module actions exist that can display a page, process form data,
                            retrieve data from a source and display it.
                        </p>
                        <p>
                            Modularity means keeping like code or code that serves a similar purpose together.
                            Take a typical website today, you have a front page or landing page, or
                            a series of landing pages.  One page may be a blog that someone in the company
                            wants to have/maintain.  Instead of mixing the code for the blog with the code
                            for the website, building a module called Blog, and putting it within
                            blogController, blogModel, and blogView - we adhere to MVC along with a simple
                            modular design.
                        </p>
                        <p>
                            Modules can serve different purposes, such as offering up a blog, highlighting a
                            product or service, or showing a list of items for purchase.  A shopping cart checkout
                            might be a separate module
                        </p>
                </p>
            </div>
        </div>
        <div class='col-md-4 panel panel-default'>
            <h4 class='panel-heading'>What</h4>
            <div class='panel-body'>
                <p>
                    This framework is the epitome of simplicity.  Well that was the goal anyway.  It
                    should teach MVC principles along with modular construction and design.
                    <br />
                    One component that's always missing from MVC is routing.  Most frameworks have routing
                    as a static component in a text file somewhere.  With simple websites this is fine, but
                    complex, ajax driven websites, this gets bulky quickly.
                    <br />
                    Imagine having to manage 50 possible routes for your website, and 1/3 of those routes have
                    potential ajax calls to support?  3-5 more routes need to be written up for each possible
                    permutation.
                </p>
                <p>
                    While some pieces are still manual, updates are still coming that simplify overall loading
                    of modules, pages, and content.
                </p>
                <p>
                    I've added bootstrap.js from Twitter for simplicity and consistency in UI design.
                    As a developer, I'm not good at designing a page that pops.  Bootstrap helps a
                    ton.
                </p>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</div>
{% endblock %}
