{% extends ["base/base.html.twig", "base/nav.html.twig", "base/footer.html.twig"] %}
{% block home %}
<div id='content'>
    <div class="page-header">
        <h1>Links</h1>
    </div>
    <div class='well'>
        <h3>General</h3>
        While Ajax is the preferred method for passing data between the front
        end and backend, anchor links are also feasible.  Instead of loading a
        whole other page or file, everything is routed via index.php.
        <br />
        The way the framework processes requests, all requests are funneled
        through index.php.  The url contains the controller, and the controller's
        action.
        <br />
        http://domain/namespace/action
        <br />
        If the controller or action does not exist, the framework will display
        a custom 404 page that you design.  For ajax and anchor links, simply
        use a path that matches the controller and the action.  Inside the
        controller code and action method, assemble your page content and
        display it.
        <br />
        <h3>Anchors</h3>
        The link should match the namespace of the controller, followed
        by the action.  Any GET parameters can be included and captured
        in the controller.
        <code>
            &lt;a href='/Namespace/Action'&gt;Text&lt;/a&gt;
        </code>
        <h3>Ajax</h3>
        Ajax, with jQuery can handle different types of data, including json, xml,
        or html either with or without a template engine.
        <code>
            <br />
            &lt;script type='text/javascript'&gt;
            <br />
            $.get('/Namespace/Action', {
            <br />
            var: value
            <br />
            }, function (data) {
            <br />
            $("#element").append(data);
            <br />
            })
            <br />
            &lt;/script&gt;
            <br />
        </code>
    </div>
</div>
{% endblock %}