<div class='container'>
    <div class='page-header'>
        <h1>Modularity</h1>
    </div>
    <div class='row'>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Vendors</h4>
            </div>
            <div class='panel-body'>
                The top level contains a folder called Vendors.  This folder is intended for
                3rd party expansions or your own customizations. These customizations should
                be PHP 5.3 or greater compliant, and namespace & autoloader capable.
            </div>
        </div>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Customization</h4>
            </div>
            <div class='panel-body'>
                You can create your own module, and even store it
                in the vendors folder.  A module should contain the controller, model, view classes
                as well as any and all html/css necessary to function if it is to output any
                data.  Beware of any inter-module dependancies.
            </div>
        </div>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Sourcing Expansions</h4>
            </div>
            <div class='panel-body'>
                There are many sources for modules you may want to use or experiment
                with.  The current modules were simply added via git into the vendors folder.
                There are dozens of sources including composer, pear, as well as writing your
                own extensions.
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Validator Example</h4>
            </div>
            <div class='panel-body'>
                A simple validator class shows how you can simply add and extend the framework
                to your own needs through vendors.  Through the use of creative autoloading, 
                a new namespace can be created and loaded from the vendors folder.
            </div>
        </div>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Unit Testing</h4>
            </div>
            <div class='panel-body'>
                Unit Testing is a big part of successful web development and was considered
                from the beginning of this project.  Unit tests can be executed
                against your model classes, preferably as a test driven development approach, 
                but also in a CI system.
            </div>
        </div>
        <div class='panel panel-default col-md-4 thumbnail'>
            <div class='panel-heading'>
                <h4>Code Generation tools</h4>
            </div>
            <div class='panel-body'>
                Simple CLI tools are now in place to help you get started building your
                MVC application.  Create the necessary classes
                and handle database migrations during development and as part of continuous
                integration and deployment.
            </div>
        </div>
    </div>
</div>