<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css styles in order of bootstrap first -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />

        <!-- js code, in order of jquery, bootstrap, local -->
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/common.js"></script>
    </head>
    <body>
        <div id="container" class="container">
            <div id='page_header' class='page-header'>
                <h1>
                    <a href='/'>{{ appName }}</a>
                </h1>
            </div>
            <div>{% include('base/nav.html.twig') %}</div>
            <div id='main_panel'>{% block home %}{% endblock %}</div>
            <div id='subfooter' class='container text-center well'>{% include('base/footer.html.twig') %}</div>
    </body>
</html>