<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/website/links">Page Links</a></li>
      <li><a href="javascript:void(0);" onClick='menuSelect("ajax");'>Ajax Support</a></li>
      <li><a href="javascript:void(0);" onClick='menuSelect("modules");'>Modularity</a></li>
      <li><a href="javascript:void(0);" onClick='menuSelect("contact");'>Forms</a></li>
      <li class="dropdown">
        <a href="/website/databases" class="dropdown-toggle" data-toggle="dropdown">Database Support <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);" onClick='menuSelect("db/mysql");'>Mysql</a></li>
          <li><a href="javascript:void(0);" onClick='menuSelect("db/pdo");'>PDO</a></li>
          <li><a href="javascript:void(0);" onClick='menuSelect("db/orm");'>ORM</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0);" onClick='menuSelect("db/nosql");'>NoSQL</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>