body {
	background: #efefef;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#top {
	height: 55px;
	font-size: 20pt;
	text-align: center;
}

#middle {
	height: 800px;
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 5px 5px #cccccc;
	border: 1px solid #888;
}

#content {
	padding: 10px;
}

#subfooter {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	text-align: center;
}

#ltcol {
	width: 30%;
	float: left;
	padding: 5px;
}

#rtcol {
	width: 30%;
	float: right;
	padding: 5px;
	margin-right: 25px;
}

#ccol {
	width: 30%;
	float: left;
	padding: 10px;
	margin-left: 25px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.clear {
	clear: both;
}

#overlay {
	background: #ffa;
	height: 35px;
	width: 105%;
	margin-left: -10px;
	overflow-x: hidden;
	border-top: 1px solid #333;
	margin-top: 6px;
}

.overlay_blocks {
	display: inline-block;
	padding-left: 25px;
	width: 250px;
	border-right: 1px solid #333;
	height: 35px;
	margin-left: 14%;
}
