#menu {
	background: #333;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#subfooter {
	background-color: #ccc;
}

#fullname { display: none; }
